@define-mixin -align
	text-align: var(--text-align)

@define-mixin -align-center
	@mixin -align

	--text-align: center

@define-mixin -align-just
	@mixin -align

	--text-align: just

@define-mixin -align-left
	@mixin -align

	--text-align: left

@define-mixin -align-right
	@mixin -align

	--text-align: right
