@define-mixin -lift
	box-shadow: var(--shadow-x) var(--shadow-y) calc(var(--shadow-blur) * var(--shadow-modifier)) calc(var(--shadow-width) * var(--shadow-modifier)) var(--shadow-color)

@define-mixin -lift-high
	@mixin -lift

	--shadow-modifier: 2

@define-mixin -lift-low
	@mixin -lift

	--shadow-modifier: .5
