@define-mixin -round
	border-radius: calc(var(--border-radius) * var(--border-radius-multiplier))
	overflow: hidden

@define-mixin -round-less
	@mixin -round

	--border-radius-multiplier: .5

@define-mixin -round-more
	@mixin -round

	--border-radius-multiplier: 2

@define-mixin -round-full
	@mixin -round

	--border-radius: 50%
