@define-mixin -round
	border-radius: calc(var(--border-radius) * var(--border-radius-modifier))
	overflow: hidden

@define-mixin -round-less
	@mixin -round

	--border-radius-modifier: .5

@define-mixin -round-more
	@mixin -round

	--border-radius-modifier: 2

@define-mixin -round-full
	@mixin -round

	--border-radius: 50%
