@define-mixin -round
	border-radius: calc(var(--radius) * var(--radius-multiplier))

@define-mixin -round-less
	@mixin -round

	--radius-multiplier: .5

@define-mixin -round-more
	@mixin -round

	--radius-multiplier: 2

@define-mixin -round-full
	@mixin -round

	--radius: 50%
	--radius-multiplier: 1
