.action {
    padding: calc(var(--padding) / 2) var(--padding);
    background-color: var(--bgcolor-action, var(--grey));
    color: var(--color-action, white);
    cursor: pointer;
    text-align: center;
}
