@define-mixin container
	--max-width: var(--container-max-width)
	--padding-base: var(--container-padding-base)

	padding: var(--padding-base)

	@media (--screen-desktop)
		padding: calc(var(--padding-base) * 2) 10%

	@media (--screen-large)
		padding: calc(var(--padding-base) * 4) calc((100% - var(--max-width)) / 2)
