@define-mixin grid
	--gutter: var(--grid-gutter)

	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin-left: calc(var(--gutter) * -1)
	margin-top: calc(var(--gutter) * -1)

	& > *
		margin-left: var(--gutter)
		margin-top: var(--gutter)
