@define-mixin icon
	@mixin -grow
	@mixin -align-center

	--size: var(--icon-size)
	--width: var(--icon-width, var(--size))
	--height: var(--icon-height, var(--size))
	--padding: var(--icon-padding, 2rem)
	--content: var(--icon-content, ' ')

	display: inline-block
	width: var(--width)
	height: var(--height)
	line-height: var(--height)
	font-size: calc(var(--height) - var(--padding) * 2)
	background-size: var(--width) var(--height)
	content: var(--content)
