:root

	/**************************************************************************************************/
	/* Buttons
	/**************************************************************************************************/

	--button-color: var(--white)
	--button-background-color: rgb(104, 160, 224)

	--button-padding: var(--padding)
	--button-padding-divisor: 2

	--button-border-style: var(--style-border)
	--button-border-color: var(--color-border)
	--button-border-width: var(--width-border)
