@define-mixin button
	display: inline-block
	padding: calc(var(--padding) / 2) var(--padding)
	box-sizing: border-box
	color: var(--color)
	border: solid 1px var(--color-border)
	background: var(--color-background)
	cursor: pointer
