@define-mixin button
	@mixin -pad
	@mixin -solid

	border: var(--style-border) var(--width-border) transparent
	cursor: pointer
	display: inline-block
	text-align: center

	--color: var(--button-color)
	--color-background: var(--button-background-color)

	--padding: var(--button-padding)
	--padding-divisor: var(--button-padding-divisor)

	--style-border: var(--button-border-style)
	--color-border: var(--button-border-color)
	--width-border: var(--button-border-width)
