@define-mixin button
	@mixin -solid

	display: inline-block
	padding: calc(var(--padding) / 2) var(--padding)
	border: var(--style-border) var(--width-border) transparent
	text-align: center
	cursor: pointer
