html
	font-family: var(--font-family)
	background-color: var(--color-background)
	border-color: var(--color-border)
	color: var(--color)

body
	line-height: var(--line-height)

p
	margin-top: 0
	margin-bottom: var(--line-height)

	&:last-child
		margin-bottom: 0
