html
	background-color: var(--bg-color)
	color: var(--text-color)
	font-family: var(--text-family)

body
	line-height: var(--text-line-height)

p
	margin-top: var(--text-margin)

	&:first-child
		margin-top: 0
