:root
	--padding-base: 2rem
	--padding-divisor: 1

	--text-size: 1.6rem
	--text-line-height: 1.5em
	--text-family-serif: serif
	--text-family-sans: sans-serif
	--text-family: var(--font-family-sans)
	--text-color: var(--color-face)

	--bg-color: var(--color-base)
	--bg-image: none

	--border-style: solid
	--border-color: currentColor
	--border-width: 1px
	--border-radius: .5rem

	--width: auto
	--width-max: auto
	--width-min: auto
