<p>
	<a class="button -pad -fill -color">Button</a>
	<a class="button -pad -fill -color -invert">Button</a>
</p>
<p>
	<a class="button -pad -fill -color -outline">Button</a>
	<a class="button -pad -fill -color -outline -invert">Button</a>
</p>
<p>
	<a class="button -pad -fill -color -outline -invert -grow-full">Button</a>
</p>
<p>
	<a class="button -pad -fill -color -outline -invert -grow-full -round">Button</a>
</p>
