<div class="grid">
	<div class="square -fill-grey -color-white -align-center" style="--width: 100px">
		<div class="-pad">
			<p>
				Test
			</p>
		</div>
	</div>

	<div class="square -fill-grey -round-full -color-white -align-center" style="--width: 100px;">
		<p class="-pad">
			Test
		</p>
	</div>
</div>
