/**************************************************************************************************/
/* Reset
/**************************************************************************************************/
/**************************************************************************************************/
/*
/* html5doctor.com Reset Stylesheet
/* v1.6.1
/* Last Updated: 2010-09-17
/* Author: Richard Clark - http://richclarkdesign.com
/* Twitter: @rich_clark
/*
/**************************************************************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
:root {

	--black: #000000;
	--blue: #4d7498;
	--light-grey: #b0b0b0;
	--lighter-grey: #d6d6d6;
	--lightest-grey: #e0e0e0;
	--dark-grey: #606060;
	--darker-grey: #363636;
	--darkest-grey: #202020;
	--grey: #808080;
	--green: #7ab677;
	--orange: #e4b03c;
	--yellow: #fffcd9;
	--white: #ffffff;
	--red: #c44d4f;

	--color-background: #ffffff;
	--color: #222222;

	--padding: 2rem;
	--padding-page-min: 2rem;


	--border-size: 1px;
	--border-color: currentColor;

	--font-size: 1.6rem;
	--font-family-serif: serif;
	--font-family-sans: sans-serif;
	--font-family: sans-serif;
	--font-family: var(--font-family-sans);

	--width-max: 1440px;
	--width-full: 100%;
	--width-half: 50%;
	--width-third: 33.3333%;
	--width-quarter: 25%;
}
@media screen and (min-width: 1584px) {
:root {
		--font-size: 20px;
    }
}
/**************************************************************************************************/
/*
/**************************************************************************************************/
/**************************************************************************************************/
/* Components
/**************************************************************************************************/

