@define-mixin -grow
	width: var(--width)

	@media (--screen-tablet)
		flex-grow: 12

@define-mixin -grow-full
	@mixin -grow

	--width: 100%

@define-mixin -grow-half
	@mixin -grow

	--width: 50%

@define-mixin -grow-third
	@mixin -grow

	--width: 33.3333%

@define-mixin -grow-fourth
	@mixin -grow

	--width: 25%
