@define-mixin -position
	position: var(--position, absolute)
	bottom: var(--bottom, auto)
	left: var(--left, auto)
	right: var(--right, auto)
	top: var(--top, auto)

@define-mixin -position-absolute
	@mixin -position

	--position: absolute

@define-mixin -position-relative
	@mixin -position

	--position: relative
