.group {
    @mixin clearfix;

    & > .action {
        display: inline-block;
        margin-right: .5rem;
        float: left;

        &:last-child {
            margin-right: 0;
        }
    }
}
