<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/styles/utility.css' }}">
    <style>
        html {
            margin: 1rem;
        }
    </style>
    <title>Preview</title>
</head>
<body>

{{{ yield }}}

</body>
</html>
