@define-mixin container {
    padding: var(--page-padding-min);

    @media (--screen-desktop) {
        padding: 4rem 10%;
    }

    @media (--screen-large) {
        padding: 6rem calc((100% - var(--page-width-max)) / 2);
    }
}
